*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
 	margin: 1rem auto;
 	width: 70%;

 }
h2, h3 {
	text-align: center;
}
.container-content h2{
	font-size: 3rem;

}
.container-content h3{
	color: rgb(8,250,121);
	padding: 0.3rem;
}
.container-content input{
	padding: 0.3rem 0.5rem;
	margin-bottom: 0.5rem;
}
#name-el{
	width: 95%;
}
#date-el{
	width: 44%;
}
#amount-el{
	width: 45%;
}
.btn-class{
	margin: 1rem;
	display: flex;
	justify-content: center;
}
#addExpense{
	background: rgb(8,250,121);
	padding: 0.7rem 1.5rem;
	border: none;
	color: #fff;
	cursor: pointer;
}
#addExpense:hover{
	opacity: 0.8;
}
#table-el{
	/*border: 1px solid black;*/
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9rem;
	font-family: sans-serif;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#table-el thead tr{
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}
#table-el th,
#table-el td{
	padding: 12px 15px;
}
#table-el tbody tr{
	border-bottom: 1px solid #dddddd;
}
#table-el tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type{
	border-bottom: 2px solid #009879;
}
#table-el thead tr th:last-child {
	cursor: pointer;
}
#table-el thead tr th:last-child:hover{
	opacity: 0.9;
}
#tbody-el tr{
  text-align: left;
}
img{
	height: 20px;
	width: 20px;
}